# Node.js with webpack
# Build a Node.js project using the webpack CLI.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pool:
  name: 'LocalBuilds'

steps:

## install node.js and targeting 14.x
- task: NodeTool@0
  inputs:
    versionSpec: '14.x'
  displayName: 'Install Node.js'

## we copy from the .\Repo into the .\Dev first which results in no merge conflicts as long as we copy into Dev after this step
- task: CopyFiles@2
  inputs:
    sourceFolder: '$(REACT_APP_REPO_RECEIVING_UPDATE)'
    CleanTargetFolder: true
    contents: |
      **
      !.git/**
      !node_modules/**
    targetFolder: 
      $(REACT_APP_TARGET_DIR)
  displayName: 
    'Copy Apps'  

## this step is to add in the next change being introduced hence the Internal 
## as it deviates from the constant. this step may not be need repeated. 
## this is strictly to sanitize, test, and evaluate my releases.
- task: CopyFiles@2
  displayName: 'Adding local development from $(REACT_APP_MIXIN_DIR) with the clean build of repo'
  inputs:
    SourceFolder:  '$(REACT_APP_MIXIN_DIR)'
    Contents: |
      **
      !.git/**
      !node_modules/**
    TargetFolder:  $(REACT_APP_TARGET_DIR)

## run install and build
- script: |
    npm install
  workingDirectory: $(REACT_APP_TARGET_DIR)
  displayName: 'npm install'

- script: |
    'npm run build'
  workingDirectory: $(REACT_APP_TARGET_DIR)
  displayName: 'npm build'

- task: PublishBuildArtifacts@1
  inputs: 
    PathtoPublish: $(Build.ArtifactStagingDirectory) # dist or build files
    ArtifactName: 'www' # output artifact named www

- task: CopyFiles@2
  inputs:
    Contents: 'build/**' # Pull the build directory (React)
    TargetFolder: '$(Build.ArtifactStagingDirectory)'